@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #091540;
  --card: #ffffff;
  --card-foreground: #091540;
  --popover: #ffffff;
  --popover-foreground: #091540;
  --primary: #182cc1;
  --primary-foreground: #ffffff;
  --secondary: #e8edff;
  --secondary-foreground: #1524a3;
  --muted: #eef2ff;
  --muted-foreground: #3d518c;
  --accent: #7692ff;
  --accent-foreground: #091540;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: #c5d0ff;
  --input: transparent;
  --input-background: #eef2ff;
  --switch-background: #abd2fa;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #182cc1;
  --radius: 1rem;
}

@theme {
  --color-primary: #182cc1;
  --color-primary-light: #e8edff;
  --color-primary-hover: #1524a3;
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-poppins: "Poppins", system-ui, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
}

body {
  background-color: #ffffff;
  color: #091540;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
