@import "tailwindcss";

@theme {
  --color-primary: #00a651;
  --color-primary-light: #e6f6eb;
  --color-primary-hover: #008a43;
}

body {
  background-color: #f0fdf4; /* Light green background as seen in design */
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
